{{#partial "content"}}

<div class="container">
			<div class="success text-center">
				<p>
					<h2>Congratulations!<br>

					</h2>
					<p>You have added a new Super Hero!</p>
					<a href="/heroes"><button class="btn btn-success">See the new Super-Hero!</button></a>
				<a href="/"><button class="btn btn-info">Go back to Home</button></a>
				</p>

			</div>
		</div>

{{/partial}}

{{> layout.hbs}}