{{#partial "title"}}

{{/partial}}
{{#partial "content"}}
  <div class="container">
          <div class="output">
            <p>
              Here is your form submission. <br>
              Name: {{heroName}}.<br>
              Age: {{heroAge}}.<br>
              specialPower: {{specialPower}}.<br>
              weakness: {{weakness}}<br>
            </p>
          </div>
        </div>

{{/partial}}

{{> layout.hbs}}