{{#partial "content"}}
    <div class="container">
    			<div class="success">
    				Name:{{squadName}}.<br>
                    Age: {{squadSize}}.<br>
                    specialPower: {{squadCause}}.<br>
    				<button class="btn btn-info">Go back to form</button>
    			</div>
    		</div>
{{/partial}}
{{> layout.hbs}}